@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;



*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto' ,serif;
  --swiper-theme-color:rgb(0, 0, 0);
  --swiper-navigation-size: 22px;

}

body{
  background-color: #365C7E;
}

header{
  display: flex;
 
  justify-content: center;
  color: white;
  background: url(/navbg.webp) no-repeat center center    ; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover ;
  background-color: black;
  
}

#get-in-touch{
    background: url(/shake.webp) no-repeat center center    ; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover ;
}

.swiper {
  margin-top: -15px !important;
}
.Testimonial{
  background: url(/bg.webp) no-repeat center center    ; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover ;
}
.mini-nav{
  position: absolute;
  background-color: white;
  right: 0;
  width: 150px;
  height: 100vh ;
}

.line::after{
  content: " ";
  display: flex;
  width: 25px;
  height: 3px;
  margin-top: 5px;
  background-color: #03A3FF;
}
.lineAB::after{
  content: " ";
  display: flex;
  
  width: 25px;
  height: 3px;
  margin-top: 3px;
  margin-bottom: 5px;
  margin-left: 50px ;
  background-color: #03A3FF;
}


.about{

  background: url(/half-right.webp) no-repeat top 10px left -400px ,url(/half-left.webp) no-repeat bottom 10px right -400px    ; 
  background-color: white;
 background-size: 50%;
  background-size: auto;
}



.contact{
  background: url(/half-right.webp) no-repeat bottom 10px left -400px ,url(/half-left.webp) no-repeat top 10px right -400px    ; 
  background-color: white;
  background-size: 50%;
   background-size: auto;
}

.form{
  margin-top: -20px;
}

textarea {
  resize: none;
}

.container{
  max-width: 1200px;
  width: 100%;
  margin: auto;
  padding-left: 50px;
  padding-right: 50px;
}


::placeholder{
  font-size: 11px;
 text-align: center;
}




input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; } 
input:focus::-moz-placeholder { color:transparent; } 
input:focus:-ms-input-placeholder { color:transparent; } 